<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:ub="http://uniboard.mnemis.com/widgets"
        id="http://uniboard.mnemis.com/widgets/notes" 
        version="1.2"
        width="900"
        height="650" 
        ub:resizable="false">     
	<name>Gallery</name>
  <author>Celfred</author>
  <description>Image or whatever Gallery</description>
  <content src="index.html"/>
  <licence>
  	Creative Commons ShareAlike 3.0
      http://creativecommons.org/licenses/by-sa/3.0/
  </licence>
</widget>
